.newsfeed-container {
  min-height: 100vh;
}
.newsfeed-newsfeed {
  width: 390px;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.newsfeed-header {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 133px;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: #d0d0d0;
  border-width: 1px;
  background-color: white;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  z-index: 9999;
}
.newsfeed-my-events-header {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 133px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.newsfeed-container1 {
  top: 88.29px;
  left: 0px;
  width: 130px;
  height: 45px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #6520D6;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.newsfeed-text {
  top: 14px;
  left: 44px;
  color: rgba(52, 52, 52, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.newsfeed-container2 {
  top: 88.29px;
  left: 130px;
  width: 130px;
  height: 45px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.newsfeed-text02 {
  top: 14px;
  left: 44px;
  color: rgba(52, 52, 52, 1);
  width: 45px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.newsfeed-container3 {
  top: 88.29px;
  left: 260px;
  width: 130px;
  height: 45px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.newsfeed-text04 {
  top: 14px;
  left: 44px;
  color: rgba(52, 52, 52, 1);
  width: 45px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.newsfeed-group121 {
  top: 33px;
  left: 133px;
  width: 120px;
  height: 52px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.newsfeed-ellipse46 {
  top: 2px;
  left: 0px;
  width: 120px;
  height: 52px;
  position: absolute;
}
.newsfeed-my-events {
  top: 133px;
  left: 0px;
  width: 390px;
  height: 190px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: #d0d0d0;
  border-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.newsfeed-group61 {
  top: 113px;
  left: 31px;
  width: 15.52173900604248px;
  height: 21px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.newsfeed-vector {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 21px;
  position: absolute;
}
.newsfeed-text06 {
  top: 115px;
  left: 56px;
  color: rgba(0, 0, 0, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.newsfeed-text08 {
  top: 149px;
  left: 56px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.newsfeed-text10 {
  top: 30px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 256px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.newsfeed-text12 {
  top: 51px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 220px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.newsfeed-rectangle188 {
  top: 30px;
  left: 226px;
  width: 145px;
  height: 140px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.newsfeed-line39 {
  top: 323px;
  left: 0px;
  width: 390px;
  height: 0px;
  position: absolute;
}
.newsfeed-ioncheckmarkcircle {
  top: 143px;
  left: 27px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.newsfeed-tab {
  bottom: 0;
  left: 0px;
  width: 390px;
  height: 80px;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: #dedede;
  background-color: white;
  border-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  
}
.newsfeed-new-tab-bar {
  left: 0px;
  width: 390px;
  height: 80px;
  display: flex;
  position: absolute;
  flex-shrink: 0;
  border-color: transparent;
}
.newsfeed-container4 {
  top: 21px;
  left: 100px;
  width: 50px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.newsfeed-text14 {
  left: 0px;
  color:  rgba(101, 31, 214, 1);
  width: 50px;
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 9px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.newsfeed-vector1 {
  top: 0px;
  left: 15px;
  width: 21px;
  height: 22px;
  position: absolute;
}
.newsfeed-container5 {
  top: 21px;
  left: 164px;
  width: 63px;
  height: 39px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.newsfeed-text16 {
  left: 0px;
  color: rgba(159, 157, 158, 1);
  width: 63px;
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 9px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.newsfeed-vector2 {
  top: 0px;
  left: 20px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.newsfeed-container6 {
  top: 16px;
  left: 320px;
  width: 30px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.newsfeed-text18 {
  left: 6px;
  color: rgba(159, 157, 158, 1);
  width: 18px;
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 9px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.newsfeed-ellipse76 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}
.newsfeed-container7 {
  top: 23.703125px;
  left: 234px;
  width: 63px;
  height: 36.296875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.newsfeed-text20 {
  left: 0px;
  color: rgba(159, 157, 158, 1);
  width: 63px;
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 9px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.newsfeed-vector3 {
  top: 0px;
  left: 21.703125px;
  width: 18.57px;
  height: 18.57px;
  position: absolute;
}
.newsfeed-container8 {
  top: 23px;
  left: 33px;
  width: 43.15625px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.newsfeed-text22 {
  left: 0px;
  color: rgba(159, 157, 158, 1);
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 9px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.newsfeed-vector4 {
  top: 0px;
  left: 11px;
  width: 22px;
  height: 19px;
  position: absolute;
}
